@*referencias*@
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APItestp2._1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/APItestp2._1.styles.css" asp-append-version="true" />
</head>
<body>
   



    <header>

        @* BARRA DE  NAVEGACION-START *@
        <nav class="navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Gestión de Personas</a>
               


                    <div class="d-flex mx-auto">
                       

                    @* listado de opciones *@
                    <ul class="navbar-nav ms-auto">
                        @* Si el usuario no esta autenticado(activado) *@
                        @if (!(User?.Identity?.IsAuthenticated ?? false))
                        {
                            @* mostrar opcion de registro e inicio de sesion *@
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Registrar" asp-controller="Cuenta">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login" asp-controller="Cuenta">Iniciar Sesión</a>
                            </li>
                        }
                        else
                        {
                            @* Opciones disponibles solo para usuarios autenticados *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="UserDropdown" data-bs-toggle="dropdown">
                                    @* Cargar nombre del usuario *@
                                    @User.FindFirstValue(ClaimTypes.NameIdentifier)
                                </a>
                                @* menu opciones *@
                                <ul class="dropdown-menu dropdown-menu-end">

                                   
                                        <li>
                                            <a class="dropdown-item" asp-action="Index" asp-controller="Persona">Administrar Personas</a>
                                        </li>
                                    

                                    <li>
                                        <a class="dropdown-item" asp-action="CerrarSesion" asp-controller="Cuenta">Cerrar Sesión</a>
                                    </li>

                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @* BARRA DE  NAVEGACION-END *@


        @* BARRA DE  NAVEGACION *@
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - APItestp2._1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
