@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center" >
   

    @if (!(User?.Identity?.IsAuthenticated ?? false))
    {

        <h1 class="display-4">Para Ingresar primero inicie sesión</h1>
        <p>Una vez iniciada sesión sera podrá acceder a las funciones</p>

    } else
    {
      
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Persona")'" class="btn btn-primary">
                Administrar Personas
            </button>
  
    }
    

   
</div>
